<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back" defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Template Form-- {{gVariable.age}} &nbsp;&nbsp;{{gVariable?.username}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">


  <!--  -->
  <ion-button (click)="onParentToChild()">send data from parent to child</ion-button>
  <!-- <app-child [firstname]="parentMessage"></app-child> -->

 
  <app-child [firstname2]="parentMessage1"></app-child>
  <!-- <app-child [firstname]="parentMessage2"></app-child> -->
  <ion-card>    
  
  </ion-card>



  <ion-card>
    <!-- (ngSubmit)="onTemplateDrivenFormSubmited()" we can access using View child decorator
  there is no need to pass any parameter
ngModel basically use for control the form 
#firstname return html element
#firstname=[ngModel return javascript object ]
(ngSubmit)="onTemplateDrivenFormSubmited() will be use when we dont want to pass "templateDrivenForm"
then we have to access using @ViewChild('templateDrivenForm') form : NgForm;---
-->



    <form class="form" #templateDrivenForm="ngForm" (ngSubmit)="onTemplateDrivenFormSubmited(templateDrivenForm)">
      <ion-card>
        <ion-item>
          <ion-input type="text" [(ngModel)]="userfirstname" name="firstname" ngModel #fname="ngModel"
            placeholder="name" required></ion-input>
        </ion-item>
        <span class="error" *ngIf="fname.invalid">*first name is required</span>
        <span class="successEnter" *ngIf="userfirstname"><b>You Entered:&nbsp;</b>{{userfirstname}}</span>
      </ion-card>
      <ion-card>




        <ion-item>
          <ion-input type="tel" name="mobile" ngModel #mobile="ngModel" placeholder="Mobile" required
            mobile></ion-input>
        </ion-item>
        <span class="error" *ngIf="mobile.invalid && mobile.touched">*Mobile is required</span>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-input type="email" name="email" ngModel #email="ngModel" placeholder="Email" required email></ion-input>
        </ion-item>
        <span class="error" *ngIf="email.invalid && email.touched">*EMail is required</span>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-input type="password" name="password" ngModel #password="ngModel" placeholder="password"
            required></ion-input>
        </ion-item>
        <span class="error" *ngIf="password.invalid && password.touched">*Password is required</span>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-input type="date" name="date" ngModel #date="ngModel" placeholder="DOB" required></ion-input>
        </ion-item>
        <span class="error" *ngIf="date.invalid && date.touched">*Date is required</span>
      </ion-card>
      <ion-card>
        <ion-item>
          <ion-select label="Select Gender" ngModel #gender="ngModel" required name="gender" label-placement="fixed"
            placeholder="Select Gender">
           
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="none">None</ion-select-option>
          </ion-select>
        </ion-item>
        <span class="error" *ngIf="gender.invalid && date.touched">*Gender is required</span>
      </ion-card>
      <ion-card>
        <ion-label style="padding-left: 20px;">select Status</ion-label>
        <ion-item>
          <ion-radio-group value="yes" #status="ngModel" name="status" ngModel required>
            <ion-radio value="yes" labelPlacement="yes">Yes</ion-radio>
            <ion-radio value="no" labelPlacement="no">No</ion-radio>
          </ion-radio-group>
        </ion-item>
        <span class="error" *ngIf="status.invalid">*Status is required</span>
      </ion-card>
      <ion-button type="submit" [disabled]="!templateDrivenForm.valid">submit</ion-button>
    </form>


    
    <form #templateDrivenForm="ngForm" (ngSubmit)="onTemplateDrivenFormSubmited(templateDrivenForm)">


      
    </form>
  </ion-card>
</ion-content>