// ion-input.ng-invalid{
//     border-bottom: 1px solid red;
// }
ion-input.ng-invalid.ng-touched{
    border-bottom: 1px solid red;
}
.error{
    color: red;
    font-size: 10px;
    font-weight: 500;
    padding-left: 20px;
    font-style: italic;
}
.successEnter{
font-size: 10px;
padding-left: 20px;
font-style: italic;
}